src/*.exe
src/RioCoind
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.RioCoin
#compilation and Qt preprocessor part
*.qm
Makefile
RioCoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
