[Unit]
Description=RioCoin daemon serivce
After=network.target

[Service]
Type=simple
User=RioCoin
ExecStart=/opt/RioCoin/RioCoind

[Install]
WantedBy=multi-user.target
